.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  overflow: hidden;
  box-sizing: border-box;
}

.hideOnMobile {
  display: block;
}

@media (min-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}